/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@charset "UTF-8";

table {
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	-webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
}

.table_structure {
    border: 1px solid #555;
}

.table_structure td {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    padding: 10px;
    text-align: left;    
}

.table_structure th, .table_structure th:hover {
    border-left: 1px solid #555;
	border-bottom: 1px solid #828282;
    padding: 20px;  
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
    background-image:      -o-linear-gradient(top, #151515, #404040) !important;
    background-image:         linear-gradient(top, #151515, #404040) !important;
	color:#fff !important;
	font-weight:normal;
}

.table_structure tbody tr:nth-child(even) {
    background: #000 !important;
	color:#fff;
}

.table_structure tr:hover *{
    background: #eeeeee;
	color:#000;
}

.table_structure tr {
	background:#404040;
	color:#fff;
}

.main_td {border-left: 1px solid #555;
    border-left: 5px solid #000000;
    border-top: 5px solid #000000;
    width: 300px;
    overflow: auto;
    background-color: #555555;
}
.decoration_tr {
    color: red;
    overflow: auto;
    max-height: 250px;
}